<div id="admin-menu">
    <div class="list-header">
        <img src="/images/vips.png" alt="VIPS">
    </div>
    <ul>
        <a href="/vip/add"><li>Ajouter</li></a>
        <a href="/vip/edit"><li>Modifier</li></a>
        <a href="/vip/delete"><li>Supprimer</li></a>
    </ul>
</div>