<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16"/>
    <link rel="stylesheet" href="/css/structure.css"/>
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <script src="/js/lightbox-plus-jquery.min.js"></script>
    <title> {{title}}</title>
</head>
<body class="monBody">
<div id="container">
    <div id="header">
        <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars"/></div>
    </div>
    <div class="menu_haut">
        <ul>
            <li {{#ifCond session.menu '==' 'home'}}class="menu_selected"{{/ifCond}}>
                <a href="/accueil">ACCUEIL</a>
            </li>
            <li {{#ifCond session.menu '==' 'repertoire'}}class="menu_selected"{{/ifCond}}>
                <a href="/repertoire">REPERTOIRE DES STARS</a>
            </li>
            <li {{#ifCond session.menu '==' 'album'}}class="menu_selected"{{/ifCond}}>
                <a href="/album">ALBUM PHOTO</a>
            </li>
            <li {{#ifCond session.menu '==' 'article'}}class="menu_selected"{{/ifCond}}>
                <a href="/articles">ARTICLES</a>
            </li>
        </ul>
    </div>
    <div id="contenu">
        <br/>
        {{{body}}}
    </div>
    <div id="footer">
        L'encyclopédie des stars depuis février 2021 (en NodeJS)
        <br/>
        © IUT du Limousin DUT Informatique année 2
        <br/>
        Application réalisée par <a href="https://jeanlaurent.fr">Jean LAURENT</a>
        <br/>
        <img src="/images/nodejs.png" id="LogoNode" alt="Logo NodeJs" title="Logo Node.JS"/>
    </div>
</div>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
