<form action="/connexion" id="form-login" method="post">
    <div class="form-item">
        <label for="utilisateur">Utilisateur : </label>
        <input type="text" name="utilisateur" id="utilisateur">
    </div>
    <div class="form-item">
        <label for="mot_de_passe">Mot de passe : </label>
        <input type="password" name="mot_de_passe" id="mot_de_passe">
    </div>
    <input type="reset" value="Annuler">
    <input type="submit" value="Connexion">
</form>