<span class="repertoire-letters">
    <p class="item">Cliquez sur une lettre :</p>
    <div class="item">
    {{#each letters}}
        <a href="/repertoire/{{this.letter}}">{{this.letter}}</a>
    {{/each}}
    </div>
</span>